<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%c{0}] [%d{yyyy-MM-dd HH:mm:ss.SSS z}]: %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.yury.wikimedia.consumer.service.WikimediaService" level="debug" />

    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>